body {
  margin: 1em;
}

#controls {
  font-size: 2em;
}

#controls button,
#controls input {
  font-size: 0.75em;
}

#bps {
  width: 1.5em;
  text-align: right;
  display: inline-block;
}

#characters {
  margin-top: 1em;
  line-height: 1.75em;
  font-size: 1.65em;
  color: black;
  font-family: monospace;
  background-color: #0000000d;
  display: inline-block;
  padding: 1em;
}

.character {
  display: inline-block;
  text-align: center;
}

.hidden {
  opacity: 0.1;
}

.reveal-all .hidden {
  opacity: 1;
}

[data-match-index] {
  background-color: #cddbf58f;
}

.anim-char-active {
  color: white;
  outline: 1px solid black;
}

.anim-char-active.Match {
  background-color: blue;
}

.anim-char-active.Literal {
  background-color: gray;
}

.anim-src-char-active {
  color: white !important;
  background-color: red !important;
}

.anim-match-src-active {
  color: black;
  background-color: #f78989;
}

.anim-match-dest-active {
  background-color: #1b00ff75;
}

@for $i from 0 through 11 {
  // See http://doejo.com/blog/dynamically-generating-colors-with-sass-for-data-visualization/
  .reveal-color-codes [data-quantized-bit-length='#{$i}'] {
    background: mix(white, blue, $i * (100/11));
  }
}
@for $i from 0 through 11 {
  // See http://doejo.com/blog/dynamically-generating-colors-with-sass-for-data-visualization/
  .reveal-color-codes [data-quantized-bit-length='#{$i+11}'] {
    background: mix(red, white, $i * (100/11));
  }
}

@for $i from 0 through 22 {
  .reveal-compression-codes [data-quantized-bit-length='#{$i}'] {
    width: #{$i / 16}em;
  }
}
